In [7]:
import pandas as pd
import numpy as np


mich_bids = pd.read_csv('mich_bids.csv')
mich_sales = pd.read_csv('mich_sales.csv')

mich_bids = mich_bids[mich_bids['Bid Open Location'] == 'Baldwin Office']
reformated_salenum = []
for row in mich_bids['Sale #']:
    reformated_salenum.append(int(row.replace('-','')))

mich_bids['Sale #'] = reformated_salenum

mich_sales = mich_sales.rename(columns={"Sale Number": 'Sale #'})

mich_sales_grouped = mich_sales.groupby('Sale #').mean()

merged_data = mich_bids.merge(mich_sales_grouped, on='Sale #').groupby('Sale #').mean()

#add pot bidders
pot_bidder = mich_bids.groupby('Sale #').agg({
    'Bidder Name': ['count']})

merged_data['Pot Bidders']= pot_bidder

merged_data

,Unnamed: 0_x,Appraised Value Per Unit,Bid Per Unit,Estimated Volume,Unnamed: 0_y,Acres,Expiration,Length(days),Received,Seq,Value,Volume,Pot Bidders
Sale #,,,,,,,,,,,,,
630010401,101084.500000,79.062500,82.269375,86.162500,106226.600000,68.0,418.520000,788.000000,19750.257200,1.0,68577.270000,1618.76,128
630010501,140326.000000,82.790909,118.823896,226.000000,88414.760000,118.0,383.240000,757.000000,32717.114400,1.0,152883.710000,2673.00,77
630010601,69315.500000,41.840000,42.903571,45.485714,64876.918919,26.0,299.837838,852.648649,6305.950811,1.0,6795.909459,345.40,14
630010801,57776.500000,60.325000,69.029375,132.400000,105268.461538,36.0,400.461538,798.000000,9452.505385,1.0,55855.730000,741.20,16
630020501,140400.500000,65.734286,75.153714,107.050000,74895.093023,76.0,386.930233,1029.627907,20044.982791,1.0,78003.100000,1702.40,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
630780601,38510.833333,62.958182,52.493030,69.000000,95781.862069,40.0,414.965517,855.000000,3366.992414,1.0,17436.220000,830.30,66
636070601,28085.000000,350.000000,564.420000,24.100000,17422.000000,24.1,350.000000,359.000000,1581.100000,1.0,15810.810000,0.00,3
639090701,27917.000000,250.000000,253.550000,28.200000,45905.642857,32.7,126.000000,347.000000,4971.748571,1.0,7729.652857,0.00,1
639100701,27919.500000,30.000000,39.030000,264.000000,45688.700000,9.0,186.600000,347.000000,5721.780000,1.0,12422.100000,0.00,2
639111201,11744.500000,39.416667,55.485500,320.466667,35504.600000,63.0,629.000000,714.000000,6831.650000,1.0,68316.470000,1978.60,60

In [8]:
merged_data.to_csv('mich_data_merged.csv',index=False)